/*removes default styles set by browser and it is usinga universal selector"*" */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    /* more on this crazy alphanumerical value in a minute! */
  color: #39a6b2;
  font-family: Helvetica, Arial, sans-serif;
  } 
 
  /* apply styles to <header> */
header {
  padding: 20px 35px;
  background-color: #39a6b2;
} 
header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #fce138;
  margin: 0; 
 /*allows the list items to come in line with thw words "Run Buddy"*/
  display: inline;
}

header a {
  color: #fce138; 
  /*Removes under lines from anchored links that are set as default by HTML*/
  text-decoration: none;
  color: #fce138;
} 

header nav {
  /* Moves the list to the right of the webpage */
  float: right;
  margin: 7px 0;
} 

/*Think of this as a path*/
header nav ul li {
  /* Puts the block element in line instead of jumnping to next line after eacvh list item*/
  display: inline;
} 

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
} 

/*Styled the footer*/
footer {
  background: #fce138;
  width: 100%;
  padding: 40px 35px;
} 

/*syle the "h2" portion. we also made "<h2>" in to an inline element ot place "<a>" next to it on the right*/
footer h2 {
  display: inline;
  color: #024e76; 
  font-size: 30px;
  margin: 0;
} 

footer div {
  float: right;
  /* "linr-height" controls the space in between lines of text*/
  line-height: 1.5;
  /*  "text-align" lets us align text left, right, center or justified*/
  text-align: right;
} 

footer a {
  color: #024e76;
} 

