 /*removes default styles set by browser and it is usinga universal selector"*" */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    /* more on this crazy alphanumerical value in a minute! */
  color: #39a6b2;
  font-family: Helvetica, Arial, sans-serif;
  }

  /* apply styles to <header> */
header {
  padding: 20px 35px;
  background-color: #39a6b2;
  /* used flex box to mkae in to row as default and to manage screen size variation */
  display: flex;
  /* this applies to the flex property to move it space the elements inside parent*/ 
  justify-content: space-between;
  /* use to make element go to next line when it runs out of space. it has default value of none */
  flex-wrap: wrap;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #fce138;
  margin: 0;
 
}

header a {
  color: #fce138;
  /*Removes under lines from anchored links that are set as default by HTML*/
  text-decoration: none;
  color: #fce138;
}

header nav {

  margin: 7px 0;
}

/*Think of this as a path*/
header nav ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  /* vw stands for viewport width */
  font-size: 1.55vw;
}

/*Styled the footer*/
footer {
  background: #fce138;
  width: 100%;
  padding: 40px 35px;
}

/*syle the "h2" portion. we also made "<h2>" in to an inline element ot place "<a>" next to it on the right*/
footer h2 {
  display: inline;
  color: #024e76;
  font-size: 30px;
  margin: 0;
}

footer div {
  float: right;
  /* "linr-height" controls the space in between lines of text*/
  line-height: 1.5;
  /*  "text-align" lets us align text left, right, center or justified*/
  text-align: right;
}

footer a {
  color: #024e76;
}

/*we are keeping the padding for all <section> elemenmts consistent*/
section {
  padding: 60px;
}

/* Hero style start. */
.hero {
  background-image: url("../images/hero-bg.jpg");
  height: 600px;
  background-size: cover;
  background-position: center;
  position: relative;
}
/* Hero Style End */ 



/* this styles everything that is inside the her "div" and is selected through a class called ".hero-form" */
.hero-form {
  background-color: #fce138;
  padding: 20px;
  width: 500px;
  color: #024e76;
 /* this short hand includes three properties in one style, width and color. */
  border: solid 3px #024e76;
}


/* We are positioning the hero form relative to it's container. */
.hero-form{
  border: 3px solid #024e76;
  background-color: #fce138;
  padding: 20px;
  width: 500px;
  color: #024e76;
  position: absolute;
  /* There is no off set from thew bottom rightso the hero form will appear on the bottom right of the page */
  bottom: 120px;
  right: 140px;
}


/* style the <p> elements for the "hero-form". paying attention to the top and bottom margin*/
.hero-form p {
  margin: 5px 0 15px 0;
}


.hero-form h3 {
  font-size: 24px;
  margin: 0;
}


/* made a class for "<input>" element to only style the input boxes */
.form-input {
  border: 1px solid #024e76;
  /* makes the input box go belowto the next line */
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  /* makes the input box be the width of the container */
  width: 100%;
  margin-bottom: 15px;
}

/* moving all the labels away from the radio buttons by ading vertical(left and right) margin to make it clearto read */
.hero-form label {
  margin: 0 5px;
}

/* styled the button */
.hero-form button {
  color: #fce138;
  background-color: #024e76;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
}

/* centering the text under "what we do" section */
.intro {
  text-align: center;
}

/* cleaning up the paragraph in the "what we do section" */
.intro p {
  line-height: 1.7;
  color: #39a6b2;
  width: 80%;
  font-size: 20px;
  /*  used this to center paragraph again since its a block element witha width less than 100% */
  margin: 0 auto;
}

/* style the "what you do section" */
.steps {
  text-align: center;
  background: #fce138;
}

/* consolidated  css rules for ".steps" and ".intro" and created 3 new classes*/
.section-title {
  font-size: 55px;
  color: #024e76;
  margin-bottom: 35px;
  padding: 0 100px 20px 100px;
  display: inline-block;
  border-bottom: 3px solid;
}

.primary-border {
  border-color: #fce138;
}

.secondary-border {
  border-color: #39a6b2;
}

/* cloeaning up the style on the ".steps section" */
.steps div {
  margin-bottom: 80px;
}

.steps img {
  width: 15%;
  margin: 10px 0;
}

.steps h3 {
  color:#024e76;
  font-size: 46px;
  margin-top: 10px;
}

.steps p {
  color:#39a6b2;
  font-size: 23px;
}

/* calling the "<span>" element to create a difference in size with in the headings */
.steps span {
  font-size: 30px;
}

/* styling the "Meet the trainers section" */
.trainers {
  text-align: center;
}

/* styles the article element inside of the section */
.trainer {
  width: 900px;
  margin: 0 auto 30px auto;
  background: #024e76;
  color: #fce138;
  overflow: auto;
}

/* style the bio text and image of the section */
.trainer img {
  width: 35%;
  float: left;
}

.trainer-bio {
  padding: 35px;
  float: left;
  width: 65%;
}

/*  more utility class to fix things. text in this case. */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* Used to style spcific parts of the trainers <article> section */
.trainer-bio h3 {
  font-size: 32px;
  margin-bottom: 8px;
}

.trainer-bio h4 {
  font-weight: lighter;
  font-size: 26px;
  margin-bottom: 25px;
} 

.trainer-bio p {
  font-size: 17px;
  line-height: 1.3;
} 

/* create new rules to style "reach out section" */ 
.contact {
  text-align: center;
  background: #024e76;
} 

/* the reach out disapeared because its ther same color as the bckround. so we change it here */
.contact h2 {
  color:#fce138;
}
 /* style the map */ 
 .contact-info iframe {
   width: 400px; 
   height:400px;
 } 

 /* turning these two dives next to each other insdide parent containerp*/
 .contact-info div {
  width: 410px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 30px 0 0 60px;
  color: white;
} 

.contact-info h3 {
  color: #fce138;
  font-size: 32px;
}

.contact-info p, .contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 20px;
  font-style: normal;
}

.contact-info a {
  color: #fce138;
}

/* REACH OUT STYLES END */